<div class="card listcard">
    <h3 class="card-title">Tes cartes</h3>
    <table class="bordered">
        <thead>
        <tr>
            {% if display or is_granted('ROLE_ADMIN') %}
            <th>Carte</th>
            {% endif %}
            <th>Score</th>
            <th>Parties</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
            {% if display or is_granted('ROLE_ADMIN') %}
            <td>{{ card.number }}</td>
            {% endif %}
            <td>{% if card.sumscore is null %}0{% else %}{{ card.sumscore }}{% endif %}</td>
            <td>{{ card.nbgames }}</td>
            {% if card.status == "disable" %}
                <td>
                    <div class="secondary-content" title="carte desactivée"><i class="material-icons">not_interested</i></div>
                    <a href="{{ path('app_card_show', {'id':card.id}) }}" class="secondary-content" title="voir details"><i class="material-icons">remove_red_eye</i></a>
                </td>
            {% else %}
                <td>
                    {% if display %}
                    <a href="{{ path('app_card_disable_page', {'id':card.id}) }}" class="secondary-content icon-dash-card-list" title="carte perdue ou volée"><i class="material-icons">no_sim</i></a>
                    {% endif %}
                    <a href="{{ path('app_card_show', {'id':card.id}) }}" class="secondary-content icon-dash-card-list" title="voir details"><i class="material-icons">remove_red_eye</i></a>
                </td>
            {% endif %}
        {% else %}
            <td colspan="4">Tu n'as pas encore de carte</td>
            </tr>
        {% endfor %}
        {% if display %}
        <tr>
            <td colspan="4">
                <a href="{{ path('app_card_add') }}" class="secondary-content"><i class="material-icons">add</i><span class="right">Ajout d'une nouvelle carte</span></a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>