<ul class="card collection with-header task-card">
    <li class="collection-header indigo">
        <h4 class="task-card-title white-text">Reservées</h4>
    </li>
    {% for game in stats.gameBooked %}
        {% set cardId = game.cardId %}
        {% set game = game.row %}
        <li class="collection-item dismissable">
            <div class="collections-content row">
                <div class="col s2">
                    <a title="voir" href="{{ path('app_game_show', {'id': game.id}) }}" class="indigo-text left icon-join"><i class="large material-icons">people</i></a>
                </div>
                <div class="col s5">
                    <p class="no-margin"><b>{{ game.etablishment }}</b></p>
                    <p class="no-margin">{{ game.playedAt|date('d/m/y') }} {{ game.timeSlot }}</p>
                </div>
                <div class="col s2 center-align">
                    <p class="collections-content"><span class="indigo task-cat">{{ game.gameType }}</span></p>
                    <p class="collections-content">{{ game.score|length }}/{{ game.nbMax }}</p>

                </div>
                <div class="col s3 right-align">
                    <a title="annuler" href="{{ path('app_game_unjoin', {'id_game': game.id, 'id_card': cardId}) }}" class="indigo-text right icon-join"><i class="large material-icons">person_outline</i></a>
                </div>
            </div>
        </li>
    {% else %}
        <li class="collection-item dismissable">
            <p class="collections-title">Tu n'as reservé aucunes parties</p>
        </li>
    {% endfor %}
</ul>