<ul class="card collection with-header task-card">
    <li class="collection-header purple">
        <h4 class="task-card-title white-text">Dernières parties</h4>
    </li>
    {% for score in lastgame %}
        <li class="collection-item dismissable">
            <div class="collections-content row">
                <div class="col s2">
                    <a title="voir" href="{{ path('app_game_show', {'id': score.games.id}) }}" class="purple-text left icon-join"><i class="large material-icons">people</i></a>
                </div>
                <div class="col s5">
                    <p class="no-margin"><b>{{ score.games.etablishment.name }}</b></p>
                    <p class="no-margin">{{ score.games.playedAt|date('d/m/y') }} {{ score.games.timeSlot.type }}</p>
                </div>
                <div class="col s2 center-align"><span class="purple task-cat">{{ score.games.gameType.type }}</span></div>
                <div class="col s3 right-align">
                    <span class="text-score purple-text">{{ score.result }}</span>
                    <span class="sstext-score grey-text">pts</span>
                </div>
            </div>
        </li>
    {% else %}
        <li class="collection-item dismissable">
            <p class="collections-title">Tu n'as pas encore de partie :(</p>
        </li>
    {% endfor %}
</ul>