{% extends 'base/base.html.twig' %}

{% block body %}
    {% set is_booking = game.booking %}
    <div class="card cardHeader">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ asset('images/office.jpg') }}">
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col s2">
                    <h4 class="card-title grey-text text-darken-4">{{ game.etablishment.name }}</h4>
                    <p class="medium-small grey-text">{{ game.etablishment.city }}</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title grey-text text-darken-4">{{ game.playedAt|date('d/m/Y') }}</h4>
                    <p class="medium-small grey-text">Date</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title grey-text text-darken-4">{{ game.score|length }}{% if is_booking %} / {{ game.nbMax }}{% endif %} </h4>
                    <p class="medium-small grey-text">Nombre de joueurs</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title grey-text text-darken-4">{{ game.gameType.type }}</h4>
                    <p class="medium-small grey-text">Type de partie</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title grey-text text-darken-4">{{ game.timeSlot.type }}</h4>
                    <p class="medium-small grey-text">Plage horaire</p>
                </div>
                {% if is_booking %}
                    <div class="col s1 right-align">
                        <div class="fixed-action-btn horizontal">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">assignment</i>
                            </a>
                            <ul>
                                {% if hasCard %}
                                <li><a href="{{ path('app_game_unjoin', {'from' : 'game', id_game: game.id, 'id_card': cards[0].id }) }}" class="btn-floating indigo modal-trigger" title="annuler"><i class="material-icons">person_outline</i></a></li>
                                {% else %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="#modal_admin" class="btn-floating indigo modal-trigger" title="ajouter" data-game-id="{{ game.id }}"><i class="material-icons">person_add</i></a></li>
                                    <li><a href="#" class="btn-floating purple modal-trigger" title="modifier"><i class="material-icons">mode_edit</i></a></li>
                                    {% else %}
                                    <li><a href="#modal1" class="btn-floating indigo modal-trigger" title="rejoindre" data-game-id="{{ game.id }}"><i class="material-icons">person_add</i></a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% if is_granted('ROLE_ADMIN') %}
            <i class="material-icons orange-back-text">arrow_back</i><a class="orange-back-text" href="{{ path('admin_etablishment_show', {'id' : game.etablishment.id}) }}">Retour</a>
            {%  else %}
            <i class="material-icons orange-back-text">arrow_back</i><a class="orange-back-text" href="{{ path('app_dashboard') }}">Dashboard</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if game.gameType.team %}
        {%  include 'game/inc/inc.game.html.twig' with {'team' : '1', 'name' : 'Alpha', 'color' : 'red darken-3'} %}
        {%  include 'game/inc/inc.game.html.twig' with {'team' : '2', 'name' : 'Beta', 'color' : 'green darken-3'} %}
        {% else %}
        {{ include('game/inc/inc.game.html.twig') }}
        {% endif %}
    </div>
    {% if cards is not null %}
    {% include 'inc/modal.card.html.twig' %}
    {% else %}
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'inc/modal.admin.card.html.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block layout_javascripts %}
    <script src="{{ asset('js/script.game.js') }}"></script>
{% endblock %}

