{% extends 'base/base.admin.html.twig' %}

{% block body %}
    <div class="card cardHeader">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ asset('images/office.jpg') }}">
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col s2 offset-s1">
                    <h4 class="card-title grey-text text-darken-4">{{ game.etablishment.name }}</h4>
                    <p class="medium-small grey-text">{{ game.etablishment.city }}</p>
                </div>
                <div class="col s3">
                    <h4 class="card-title grey-text text-darken-4">{{ game.playedAt|date('d/m/Y H:i') }}</h4>
                    <p class="medium-small grey-text">Date</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title grey-text text-darken-4">{{ game.score|length }} </h4>
                    <p class="medium-small grey-text">Nombre de joueurs</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title grey-text text-darken-4">{{ game.gameType.type }}</h4>
                    <p class="medium-small grey-text">Type de partie</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title grey-text text-darken-4">{{ game.timeSlot.type }}</h4>
                    <p class="medium-small grey-text">Plage horaire</p>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col s12">
          <i class="material-icons orange-back-text">arrow_back</i><a class="orange-back-text" href="{{ path('admin_etablishment_show', {'id' : game.etablishment.id}) }}">Retour vers le détail de l'établissement ShinigamiLaser - {{ game.etablishment.name }}</a>
        </div>
    </div>
     {% endif %}
    <div class="row">
        {% if game.gameType.type == 'Team' %}
        {%  include 'game/inc/inc.game.html.twig' with {'team' : '1', 'name' : 'Alpha', 'color' : 'red darken-3'} %}
        {%  include 'game/inc/inc.game.html.twig' with {'team' : '2', 'name' : 'Beta', 'color' : 'green darken-3'} %}
        {% else %}
        {{ include('game/inc/inc.game.html.twig') }}
        {% endif %}
    </div>
{% endblock %}

