<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('css/lib/materialize.min.css') }}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% set is_admin = is_granted('ROLE_ADMIN') %}
        {% set is_user = is_granted('ROLE_USER') %}
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if is_user %}
                        <li><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ path('user_logout') }}">Logout</a></li>
                        <li><a href="{{ path('user_update', {'id' : app.user.id}) }}"><i class="material-icons">build</i></a></li>
                    {% else %}
                        <li><a href="{{ path('user_login') }}">Login</a></li>
                        <li><a href="{{ path('user_register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="{{ asset('js/lib/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/lib/materialize.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('select').material_select();
            });
            var date_max = new Date();
            var date_min = new Date();
            date_min = new Date(date_min.setFullYear(date_min.getFullYear() - 100));
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100, // Creates a dropdown to control month
                min: date_min,
                max: date_max,
                today: false,
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                format: 'dd/mm/yyyy'
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
