<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}ShinigamiLaser-Home{% endblock %}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('css/lib/materialize.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/lib/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block layout_stylesheets %}{% endblock %}
</head>
<body>

{% block layout_container %}{% endblock %}

<!--  Scripts-->
<script type="text/javascript" src="{{ asset('js/lib/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lib/materialize.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
        $(".button-collapse").sideNav();
        var date_max = new Date();
        var date_min = new Date();
        date_min = new Date(date_min.setFullYear(date_min.getFullYear() - 100));
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 100, // Creates a dropdown to control month
            min: date_min,
            max: date_max,
            today: false,
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            format: 'dd/mm/yyyy'
        });
    });
</script>
{% block layout_javascripts %}{% endblock %}

</body>
</html>
