<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}ShinigamiLaser-Home{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('css/lib/materialize.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/lib/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/fonts/star_jedi/stylesheet.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>
    {% block layout_stylesheets %}{% endblock %}
</head>
<body>

{% set is_admin = is_granted('ROLE_ADMIN') %}
{% set is_user = is_granted('ROLE_USER') %}

{% include 'inc/inc.admin.sidebar.html.twig' %}

{% block layout_container %}{% endblock %}

<!--  Scripts-->
<script type="text/javascript" src="{{ asset('js/lib/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lib/materialize.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
        $(".button-collapse").sideNav();
        Materialize.updateTextFields();
        var date_min = new Date();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 100, // Creates a dropdown to control month
            min: date_min,
            today: false,
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            format: 'dd/mm/yyyy'
        });
        $('.datepicker_2').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2, // Creates a dropdown to control month
            min: date_min,
            today: "Aujourd'hui",
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            format: 'dd/mm/yyyy'
        });
        $("body").delegate(".row.has-error input", "change", function() {
            $(this).parents('.input-field').find('ul').remove();
        });
        $("body").delegate(".row.has-error textarea", "change", function() {
            $(this).parents('.input-field').find('ul').remove();
        });
    });
</script>
{% block layout_javascripts %}{% endblock %}

</body>
</html>
