{% extends 'base/base.admin.html.twig' %}

{% block body %}
    <div class="row card">
        <div class="col s12 m12">
            <p class="justify"><i class="material-icons" style="font-size:15px; color:#e24800!important;">arrow_back</i><a style="color:#e24800;" href="{{ path('admin_command_add') }}"> Retour au formulaire de création de commande de cartes de fidélité</a></p>
            <h4 class="center" style="color:#e24800; font-weight: bold;">Liste des commandes de carte de fidélité par établissement ShinigamiLaser</h4>
        </div>
        <table class="responsive-table bordered centered">
            <thead>
            <tr>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Date de la commande</th>
                <th>Etablissements ShinigamiLaser</th>
            </tr>
            </thead>
            <tbody>
            {% for command in commands %}
                <tr>
                    <td>{{ command.quantity }}</td>
                    <td>{{ command.price }} €</td>
                    <td>{{ command.dateOfOrder|date('d/m/Y') }}</td>
                    <td>{{ command.etablishment }}</td>
                    <td><i class="material-icons"><a href=" {{ path('admin_command_show', {'id':command.id}) }}" style="color:#e24800;">remove_red_eye</a></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}