<div class="col s6">
<table class="bordered centered card">
    <thead>
    {% if team is defined and color is defined and name is defined %}
        <tr><th colspan="4" class="{{ color }} task-card-title white-text">Equipe {{ name }}</th></tr>
    {% endif %}
    <tr>
        <th>&nbsp;</th><th data-field="id">Joueurs</th><th data-field="name">Score</th><th data-field="name">Classement</th>
    </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% for key, score in game.score %}
        {% if team is not defined or (team is defined and score.team == team) %}
            <tr>
                <td><a href="{{ path('app_dashboard_show',{'id':score.cards.player.id}) }}">{%  include 'inc/inc.avatar.img.html.twig' with {'player' : score.cards.player, 'class' : 'circle z-depth-2 avatar-game-list'} %}</a></td>
                <td><a href="{{ path('app_dashboard_show',{'id':score.cards.player.id}) }}">{{ score.cards.player.username }}</a></td>
                <td>{{ score.result }}</td>
                <td>{{ key + 1 }}</td>
            </tr>
            {% set total = total + score.result %}
        {% endif %}
    {% endfor %}
    <tr>
        <td colspan="2" class="task-card-title">Score total :</td>
        <td colspan="1" class="task-card-title"><b>{{ total }}</b></td>
    </tr>
    </tbody>
</table>
</div>