{% extends 'base/base.html.twig' %}

{% block body %}
    {% set display = other is not defined %}
    <div class="card cardHeader">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ asset('images/office.jpg') }}">
        </div>
        <figure class="card-profile-image">
            {%  include 'inc/inc.avatar.img.html.twig' with {'class' : 'circle z-depth-2 responsive-img activator img-avatar'} %}
        </figure>
        <div class="card-content">
            <div class="row">
                <div class="col s3 offset-s2">
                    <h4 class="card-title grey-text text-darken-4">{{ player.username }}</h4>
                    <p class="medium-small grey-text">Space Marine</p>
                </div>
                <div class="col s2 center-align">
                    <h4 class="card-title grey-text text-darken-4">{{ stats.scoreTotal }}</h4>
                    <p class="medium-small grey-text">Score total</p>
                </div>
                <div class="col s2 center-align">
                    <h4 class="card-title grey-text text-darken-4">{{ stats.gameTotal }}</h4>
                    <p class="medium-small grey-text">Nombre de partie</p>
                </div>
                {% if display %}
                <div class="col s1 right-align">
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large red">
                            <i class="large material-icons">settings</i>
                        </a>
                        <ul>
                            <li><a href="{{ path('user_update_profil', {'id' : player.id}) }}" class="btn-floating yellow darken-1"><i class="material-icons">mode_edit</i></a></li>
                            <li><a href="{{ path('user_update_avatar', {'id' : player.id}) }}" class="btn-floating red"><i class="material-icons">account_circle</i></a></li>
                            <li><a href="{{ path('user_update_password', {'id' : player.id}) }}" class="btn-floating green"><i class="material-icons">lock_open</i></a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <!--------------------------------- COL S4 ----------------------------------------->
        <!---------------------------------------------------------------------------------->
        <div class="col s4">
            {% include 'default/inc/colG/dash.pts.compo.html.twig' %}
            {% if display %}
                {% include 'default/inc/colG/dash.next.game.html.twig' %}
                {% include 'default/inc/colG/dash.booked.game.html.twig' %}
            {% endif %}
            {% include 'default/inc/colG/dash.prev.game.html.twig' with {'lastgame' : stats.lastGame} %}
            {% include 'default/inc/colG/dash.achie.html.twig' %}
        </div>
        <!--------------------------------- COL S8 ----------------------------------------->
        <!---------------------------------------------------------------------------------->
        <div class="col s8">
            {% include 'default/inc/colD/dash.info.html.twig' %}
            {% include 'default/inc/colD/dash.list.card.html.twig' %}
        </div>
    </div>
    {% include 'default/inc/dash.modal.html.twig' %}
{% endblock %}

{% block layout_javascripts %}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('.modal-trigger').click(function(){
                var data_game_id = $(this).attr('data-game-id');
                $('.ui-linkjoin').each(function () {
                    var data_card_id = $(this).attr('data-card-id');
                    $(this).attr('href', 'game/join/'+data_game_id+'/'+data_card_id)
                })
            });
        });
    </script>
{% endblock %}