{% extends 'base/base.form.html.twig' %}

{% block body %}
    {% set messages_error = app.flashes('notice') %}
    <div class="row">
        <div class="col s12">
            <i class="material-icons blue-back-text">arrow_back</i>
            <a class="blue-back-text" href="{{ path('app_dashboard') }}">Retour au dashboard</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4 class="center">Ajouter une nouvelle carte</h4>
            <form action="{{ path('app_card_add') }}" method="post" autocomplete="off" novalidate="novalidate">
                <div class="row {% if messages_error|length > 0 %}has-error{% endif %}">
                    <div class="input-field col s12">
                        {{ form_label(form.number) }}
                        {{ form_widget(form.number) }}
                        {{ form_errors(form.number) }}
                        {% if messages_error|length > 0 %}
                            <ul>
                                {% for message in messages_error %}
                                    <li class="error">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right"></i>Ajouter</button>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
