{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <a href="{{ path('app_dashboard') }}">Retour au dashboard</a>
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s2">
            <h4>Ajouter votre carte</h4>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="waves-effect waves-light btn">button</button>
            {{ form_end(form) }}
            {# TODO creation d'un composant message #}
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
