{% extends 'base/base.html.twig' %}

{% block layout_stylesheets %}
    <link href="{{ asset('css/lib/highcharts.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="card cardHeader">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ asset('images/office.jpg') }}">
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col s3 offset-s2">
                    <h4 class="card-title grey-text text-darken-4">{{ card.number }}</h4>
                    <p class="medium-small grey-text">Numéro carte</p>
                </div>
                <div class="col s2 center-align">
                    <h4 class="card-title grey-text text-darken-4">{{ stats.sumscore }}</h4>
                    <p class="medium-small grey-text">Score total</p>
                </div>
                <div class="col s2 center-align">
                    <h4 class="card-title grey-text text-darken-4">{{ stats.nbgames }}</h4>
                    <p class="medium-small grey-text">Nombre de partie</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <i class="material-icons orange-back-text">arrow_back</i><a class="orange-back-text" href="{{ path('app_dashboard') }}">Retour au dashboard</a>
        </div>
    </div>
    <div class="row">
        <!--------------------------------- COL S4 ----------------------------------------->
        <!---------------------------------------------------------------------------------->
        <div class="col s6">
            <div id="scorebygame" class="card"></div>
            <ul class="card collection with-header task-card">
                <li class="collection-header purple">
                    <h4 class="task-card-title white-text">Dernières parties</h4>
                </li>
                {% for score in stats.scores %}
                    <li class="collection-item dismissable">
                        <p class="collections-title">{{ score.games.playedAt|date('d/m/y H:i') }} <span class="right purple task-cat">{{ score.result }}</span><span class="right">Points :</span></p>
                        <p class="collections-content">{{ score.games.gameType.type }}</p>
                    </li>
                {% else %}
                    <li class="collection-item dismissable">
                        <p class="collections-title">Tu n'as pas encore de partie :(</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--------------------------------- COL S4 ----------------------------------------->
        <!---------------------------------------------------------------------------------->
        <div class="col s6">
            <div id="typepartie" class="card"></div>
            <div id="winlose" class="card"></div>
        </div>
    </div>
    <input type="hidden" id="id_carte" value="{{ card.id }}">
{% endblock %}

{% block layout_javascripts %}
    <script src="{{ asset('js/lib/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('js/stat.card.show.js') }}"></script>
    <script src="{{ asset('js/scorebygame.js') }}"></script>
    <script src="{{ asset('js/typepartie.js') }}"></script>
{% endblock %}