{% extends 'base/base.admin.html.twig' %}

{% block body %}


    <div class="row card">
        <div class="col s12 m12">
            <p class="justify"><i class="material-icons" style="font-size:15px; color:#e24800!important;">arrow_back</i><a style="color:#e24800;" href="{{ path('admin_dashboard') }}"> Retour à l'interface d'administration</a></p>
            <div>
                <h4 class="center" style="color:#e24800; font-weight: bold;">Liste des parties déjà jouées par établissement</h4>
            </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            {% for etablishments in gamesBookingFalse %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">domain</i>{{etablishments.name|upper }}</div>
                    <div class="collapsible-body no-padding">
                        <table class="centered">
                            <thead>
                            <tr>
                                <th>Date de la partie</th>
                                <th>Type</th>
                                <th>Plage horaire</th>



                            </tr>
                            </thead>
                            <tbody>

                            {% for game in etablishments.games%}
                            <tr>

                                <td>{{ game.playedAt|date('d/m/Y') }}</td>
                                <td>{{ game.gameType }}</td>
                                <td>{{ game.timeSlot }}</td>
                                <td><i class="material-icons"><a href=" {{ path('app_game_show', {'id':game.id}) }}" style="color:#e24800;">remove_red_eye</a></i></td>

                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block layout_javascripts %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });

    </script>
{% endblock %}