{% extends 'base/base.admin.html.twig' %}

{% block body %}

    <div class="card cardHeader">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ asset('images/office.jpg') }}">
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col s2 offset-s1">
                    <h4 class="card-title">SL - {{ etablishment.name }}</h4>
                    <p class="medium-small grey-text">Nom</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title">{{ etablishment.city }}</h4>
                    <p class="medium-small grey-text">Ville</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title">{{ etablishment.code }}</h4>
                    <p class="medium-small grey-text">Code Etablissement</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title">{{ stats.count_abonne }}</h4>
                    <p class="medium-small grey-text">Abonnés</p>
                </div>
                <div class="col s2">
                    <h4 class="card-title">{{ etablishment.games|length }}</h4>
                    <p class="medium-small grey-text">Parties jouées</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <i class="material-icons orange-back-text">arrow_back</i><a class="orange-back-text" href="{{ path('admin_etablishment_index') }}"> Retour vers la liste des établissements</a>
        </div>
    </div>
    <div class="row">
        <!------------ --------------- -------S4 ------ ---------------- ----------------->
        <!-------------------------------------------------------------------------------->
        <div class="col s4">
            <div class="card center-align">
                <div class="card-content card-stats purple white-text">
                    <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Joueurs</p>
                    <p class="card-stats-number">110</p>
                    <p class="card-stats-compare"><span></span><i class="material-icons">keyboard_arrow_up</i> 10% <span class="purple-text text-lighten-5">mois dernier</span>
                    </p>
                </div>
                <div class="card-action purple darken-2">
                    <div id="sales-compositebar"><img src="{{ asset('images/fake-stats/canvas2.png') }}" width="286" height="25" style="display: inline-block; width: 286px; height: 25px; vertical-align: top;"/></div>
                </div>
            </div>
            <div class="card center-align">
                <div class="card-content card-stats green white-text">
                    <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Abonnés</p>
                    <p class="card-stats-number">3</p>
                    <p class="card-stats-compare"><span></span><i class="material-icons">keyboard_arrow_down</i> 5% <span class="purple-text text-lighten-5">mois dernier</span>
                    </p>
                </div>
                <div class="card-action green darken-2">
                    <div id="sales-compositebar"><img src="{{ asset('images/fake-stats/canvas1.png') }}" width="286" height="25" style="display: inline-block; width: 286px; height: 25px; vertical-align: top;"/></div>
                </div>
            </div>
        </div>
        <!------------ --------------- -------S8 ------ ---------------- ----------------->
        <!-------------------------------------------------------------------------------->
        <div class="col s8">
            <table class="card centered bordered">
                <thead>
                <tr>
                    <th>Nom de la partie</th>
                    <th>Date</th>
                    <th>Participants</th>
                    <th>Détails</th>
                </tr>
                </thead>
                <tbody>
                {% for game  in etablishment.games %}
                    <tr>
                        <td>{{ game.gameType.type }}</td>
                        <td>{{ game.playedAt|date('d/m/Y') }}</td>
                        <td>{{ game.score|length }}</td>
                        <td><a href="{{ path('app_game_show', {'id': game.id}) }}"><i class="material-icons">visibility</i></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

