{% extends 'base/base.admin.html.twig' %}

{% block body %}


    <div class="row card">
        <div class="col s12 m12">
            <i class="material-icons blue-back-text">arrow_back</i>
            <a href="{{ path('admin_dashboard') }}"> Retour à l'interface d'administration</a>

            <h4 class="center">Liste des joueurs par établissement</h4>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            {% for etablishment in etablishments %}
            <li>
                <div class="collapsible-header"><i class="material-icons">domain</i>{{etablishment.name }}</div>
                <div class="collapsible-body no-padding">
                    <table class="bordered">
                        <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Pseudo</th>
                            <th>Adresse</th>
                            <th>Numéro de téléphone</th>
                            <th>Date de naissance</th>
                            <th>Email</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for command in etablishment.commands %}
                            {% for card in command.cards %}
                            <tr>
                                <td>{% include ':inc:inc.avatar.img.html.twig' with {'class' : 'circle z-depth-2 avatar-game-list', 'player' : card.player} %}</td>
                                <td>{{ card.player.firstname }}</td>
                                <td>{{ card.player.lastname }}</td>
                                <td>{{ card.player.username }}</td>
                                <td>{{ card.player.address }}</td>
                                <td>{{ card.player.phoneNumber }}</td>
                                <td>{{ card.player.dateOfBirth|date('d/m/Y') }}</td>
                                <td>{{ card.player.email }}</td>
                                <td><a href="{{ path('app_dashboard_show', {'id':card.player.id}) }}"><i class="material-icons icon-dash-admin">remove_red_eye</i></a></td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block layout_javascripts %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });

    </script>
{% endblock %}