{% extends 'base/base.admin.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col s12 m12">
            <p class="justify"><i class="material-icons" style="font-size:15px; color:#e24800!important;">arrow_back</i><a style="color:#e24800;" href="{{ path('admin_dashboard') }}"> Retour à l'interface d'administration</a></p>
            <div class="icon-block">
                <h4 class="center" style="color:#e24800; font-weight: bold;">Liste des joueurs par établissement</h4>
            </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            {% for etablishment in etablishments %}
            <li>
                <div class="collapsible-header"><i class="material-icons">domain</i>{{etablishment.name }}</div>
                <div class="collapsible-body">
                    <table class="striped">
                        <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Pseudo</th>
                            <th>Adresse</th>
                            <th>Numéro de téléphone</th>
                            <th>Date de naissance</th>
                            <th>Email</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for card in etablishment.cards %}
                            {% if card.player is not null %}
                            <tr>
                                <td>{% include ':inc:inc.avatar.img.html.twig' with {'class' : 'circle z-depth-2 avatar-game-list', 'player' : card.player} %}</td>
                                <td>{{ card.player.firstname }}</td>
                                <td>{{ card.player.lastname }}</td>
                                <td>{{ card.player.username }}</td>
                                <td>{{ card.player.address }}</td>
                                <td>{{ card.player.phoneNumber }}</td>
                                <td>{{ card.player.dateOfBirth|date('d/m/Y') }}</td>
                                <td>{{ card.player.email }}</td>
                                <td><a href="{{ path('app_dashboard_show', {'id':card.player.id}) }}">Voir</a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block layout_javascripts %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });

    </script>
{% endblock %}