{% extends ':base:base.form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h4 class="center">Se connecter</h4>
            <div class="row">
                <form class="row" action="{% if admin is defined %}{{ path('admin_login') }}{% else %}{{ path('user_login') }}{% endif %}" method="post" autocomplete="off">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="username">
                                Nom d'utilisateur
                            </label>
                            <input type="text" id="username" name="_username" value="{{ lastUsername }}">
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <label for="password">
                            Mot de passe
                        </label>
                        <input type="password" id="password" name="_password">
                    </div>
                    <div class="input-field col s12">
                        <button type="submit" class="waves-effect waves-light btn right"><i class="material-icons right"></i>Connexion</button>
                    </div>
                    {% if error %}
                    <div class="input-field col s12">
                            <div data-error="wrong" class="red-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                    {% endif %}
                    {% if admin is not defined %}
                    <div class="input-field col s12 right-align">
                        <a href="{{ path('user_lostpassword') }}">Tu as perdu ton mot de passe ?</a>
                    </div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="{% if admin is defined %}{{ path('admin_dashboard') }}{% else %}{{ path('app_dashboard') }}{% endif %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}