{% extends 'base/base.admin.html.twig' %}

{% block body %}

    <div class="row">
        <!-- --- --- ----------- COL S4 ----------------->
        <div class="col s4">
            <div class="card">
                <div class="card-content purple white-text center">
                    <p class="card-stats-title"><i class="mdi-social-group-add"></i>Bienvenue {{ app.user.username }}</p>
                </div>
            </div>
            <div class="card center-align">
                <div class="card-content card-stats blue white-text">
                    <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Parties jouées</p>
                    <p class="card-stats-number">110</p>
                    <p class="card-stats-compare"><span></span><i class="material-icons">keyboard_arrow_up</i> 10% <span class="purple-text text-lighten-5">semaine dernière</span>
                    </p>
                </div>
                <div class="card-action blue darken-2">
                    <div id="sales-compositebar"><img src="{{ asset('images/fake-stats/canvas2.png') }}" width="286" height="25" style="display: inline-block; width: 286px; height: 25px; vertical-align: top;"/></div>
                </div>
            </div>
            <div class="card center-align">
                <div class="card-content card-stats orange white-text">
                    <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Nouveaux adhérents</p>
                    <p class="card-stats-number">12</p>
                    <p class="card-stats-compare"><span></span><i class="material-icons">keyboard_arrow_down</i> 7% <span class="purple-text text-lighten-5">semaine dernière</span>
                    </p>
                </div>
                <div class="card-action orange darken-2">
                    <div id="sales-compositebar"><img src="{{ asset('images/fake-stats/canvas1.png') }}" width="286" height="25" style="display: inline-block; width: 286px; height: 25px; vertical-align: top;"/></div>
                </div>
            </div>
            <div class="card center-align">
                <div class="card-content card-stats lime white-text">
                    <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Cadeaux offerts</p>
                    <p class="card-stats-number">4</p>
                    <p class="card-stats-compare"><span></span><i class="material-icons">keyboard_arrow_down</i> 2% <span class="purple-text text-lighten-5">semaine dernière</span>
                    </p>
                </div>
                <div class="card-action lime darken-2">
                    <div id="sales-compositebar"><img src="{{ asset('images/fake-stats/canvas3.png') }}" width="286" height="25" style="display: inline-block; width: 286px; height: 25px; vertical-align: top;"/></div>
                </div>
            </div>
            <div class="card center-align">
                <div class="card-content card-stats pink white-text">
                    <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Commandes</p>
                    <p class="card-stats-number">5</p>
                    <p class="card-stats-compare"><span></span><i class="material-icons">keyboard_arrow_up</i> 3% <span class="purple-text text-lighten-5">semaine dernière</span>
                    </p>
                </div>
                <div class="card-action pink darken-2">
                    <div id="sales-compositebar"><img src="{{ asset('images/fake-stats/canvas4.png') }}" width="286" height="25" style="display: inline-block; width: 286px; height: 25px; vertical-align: top;"/></div>
                </div>
            </div>
        </div>
        <!-- --- --- ----------- COL S8 ----------------->
        <div class="col s8">

            <ul class="collection collection-dash card">
                <li class="collection-item avatar">
                    <i class="mdi-file-folder circle material-icons">people</i>
                    <span class="collection-header">Joueurs</span>
                    <p>Rechercher et afficher les différents joueurs</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="{{ path('admin_findplayer') }}">Rechercher un joueur<i class="material-icons icon-dash-admin">search</i></a></p>
                    <p class="collections-content">Renseigner simplement le numéro de sa carte de fidélité</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="{{ path('admin_etablishment_users') }}">Afficher la liste des joueurs par établissements<i class="material-icons icon-dash-admin">people</i></a></p>
                    <p class="collections-content">Voir tous les joueurs enregistrés par établissement</p>


                </li>

            </ul>

            <ul class="collection collection-dash card">
            <li class="collection-item avatar">
                <i class="mdi-file-folder circle material-icons">card_membership</i>
                <span class="collection-header">Cartes de fidélité</span>
                <p>Commander et gérer les cartes de fidélité</p>
            </li>
            <li class="collection-item">
                <p class="collections-title"><a href="{{ path('admin_command_add') }}">Commander des cartes de fidélités<i class="material-icons icon-dash-admin">card_membership</i></a></p>
                <p class="collections-content">Commander auprès des fournisseurs agréés ShinigamiLaser</p>
            </li>
            <li class="collection-item">
                <p class="collections-title"><a href="{{ path('admin_command_index') }}">Gérer les commandes des cartes<i class="material-icons icon-dash-admin">card_travel</i></a></p>
                <p class="collections-content">Voir leur détail</p>
            </li>

            </ul>

            <ul class="collection collection-dash card">
                <li class="collection-item avatar">
                    <i class="mdi-file-folder circle material-icons">store</i>
                    <span class="collection-header">Parties</span>
                    <p>Gérer les parties au sein de chaque établissement</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="{{ path('admin_game_add') }}">Créer des parties<i class="material-icons icon-dash-admin">library_add</i></a></p>
                    <p class="collections-content">Créer simplement des parties de jeu auxquelles vos joueurs pourront s'inscrire</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="{{ path('admin_game_index_booking_false') }}">Voir toutes les parties déjà jouées par établissement<i class="material-icons icon-dash-admin">remove_red_eye</i></a></p>
                    <p class="collections-content">Afficher leur détail</p>
                </li>

                <li class="collection-item">
                    <p class="collections-title"><a href="{{ path('admin_game_index_booking_true') }}">Voir toutes les parties réservables par établissement<i class="material-icons icon-dash-admin">remove_red_eye</i></a></p>
                    <p class="collections-content">Afficher leur détail</p>
                </li>

            </ul>

            <ul class="collection collection-dash card">
                <li class="collection-item avatar">
                    <i class="mdi-file-folder circle material-icons">store</i>
                    <span class="collection-header">Etablissements</span>
                    <p>Voir le détail et les administrateurs de chaque établissement</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="{{ path('admin_etablishment_index') }}">Gérer les établissements<i class="material-icons icon-dash-admin">view_list</i></a></p>
                    <p class="collections-content">Voir leur détail</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="#">Gérer le recrutement<i class="material-icons icon-dash-admin">people</i></a></p>
                    <p class="collections-content">Recrutement de développeurs Symfony 3 actuellement en cours</p>
                </li>

            </ul>

            <ul class="collection collection-dash card">
                <li class="collection-item avatar">
                    <i class="mdi-file-folder circle material-icons">local_offer</i>
                    <span class="collection-header">Promotions</span>
                    <p>Créer et administrer les promotions que vous offrez à vos joueurs</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="#">Gérer les promotions<i class="material-icons icon-dash-admin">local_offer</i></a></p>
                    <p class="collections-content">Voir leur détail</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="#">Cadeaux pour joueurs<i class="material-icons icon-dash-admin">card_giftcard</i></a></p>
                    <p class="collections-content">Fidéliser vos clients en leur offrant des cadeaux qui déchirent pour leur anniversaire par exemple</p>
                </li>

            </ul>

            <ul class="collection collection-dash card">
                <li class="collection-item avatar">
                    <i class="mdi-file-folder circle material-icons">group</i>
                    <span class="collection-header">Administrateurs</span>
                    <p>Créer et gérer les administrateurs de vos établissements </p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="#">Recruter des administrateurs<i class="material-icons icon-dash-admin">group_add</i></a></p>
                    <p class="collections-content">Remplir le formulaire d'ajout</p>
                </li>
                <li class="collection-item">
                    <p class="collections-title"><a href="#">Gérer vos administrateurs<i class="material-icons icon-dash-admin">group_work</i></a></p>
                    <p class="collections-content">Modifier leurs droits, évaluer leur travail etc...</p>
                </li>

            </ul>


        </div>


    </div>


{% endblock %}